.lazy-video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.lazy-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazy-video::-webkit-media-controls {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.lazy-video-wrapper:hover .lazy-video::-webkit-media-controls,
.lazy-video:focus::-webkit-media-controls {
  opacity: 1;
}
